In [1]:
import pandas as pd
import csv
import numpy as np
import warnings
warnings.simplefilter('ignore')

In [2]:
order_report = pd.read_csv("D:/DA_Test/Company X - Order Report.csv")

In [3]:
order_report

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706          1
1       2001827036  8904223819093          1
2       2001827036  8904223819109          1
3       2001827036  8904223818430          1
4       2001827036  8904223819277          1
..             ...            ...        ...
395     2001806229  8904223818942          1
396     2001806229  8904223818850          1
397     2001806226  8904223818850          2
398     2001806210  8904223816214          1
399     2001806210  8904223818874          1

[400 rows x 3 columns]

In [4]:
sku_master = pd.read_csv("D:/DA_Test/Company X - SKU Master.csv")

In [5]:
sku_master

,SKU,Weight (g),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,8904223815682,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8904223815859,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8904223815866,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8904223815873,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8904223816214,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
61,8904223819505,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,8904223819499,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,8904223819512,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,8904223819543,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,SACHETS001,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sku_master = sku_master.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis =1)

In [7]:
invoice = pd.read_csv("D:/DA_Test/Courier Company - Invoice.csv")

In [8]:
invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [9]:
pincode = pd.read_csv("D:/DA_Test/Courier Company - Pincode Zones.csv")

In [10]:
pincode

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [11]:
rates = pd.read_csv("D:/DA_Test/Courier Company - Rates.csv", header= None)

In [12]:
rates

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
1,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [13]:
rows = rates.iloc[0]

In [14]:
rows
rows = pd.Series(rows)

In [15]:
values = rates.iloc[1]

In [16]:
values
values = pd.Series(values)

In [17]:
rates1 = pd.concat([rows, values], axis=1)

In [18]:
rates1

                   0     1
0        fwd_a_fixed  29.5
1   fwd_a_additional  23.6
2        fwd_b_fixed    33
3   fwd_b_additional  28.3
4        fwd_c_fixed  40.1
5   fwd_c_additional  38.9
6        fwd_d_fixed  45.4
7   fwd_d_additional  44.8
8        fwd_e_fixed  56.6
9   fwd_e_additional  55.5
10       rto_a_fixed  13.6
11  rto_a_additional  23.6
12       rto_b_fixed  20.5
13  rto_b_additional  28.3
14       rto_c_fixed  31.9
15  rto_c_additional  38.9
16       rto_d_fixed  41.3
17  rto_d_additional  44.8
18       rto_e_fixed  50.7
19  rto_e_additional  55.5

In [19]:
result = pd.read_csv("D:/DA_Test/Expected_Result.csv")

In [20]:
result

Empty DataFrame
Columns: [Order ID, AWB Number, SKU, Total weight as per X (KG), Weight slab as per X (KG), Total weight as per Courier Company (KG), Weight slab charged by Courier Company (KG), Delivery Zone as per X, Delivery Zone charged by Courier Company, Type 0f shipemnt, Expected Charge as per X (Rs.), Charges Billed by Courier Company (Rs.) , Difference Between Expected Charges and Billed Charges (Rs.)]
Index: []

In [21]:
a = pd.Series(order_report['ExternOrderNo'])
a1 = pd.Series(order_report['SKU'])

In [22]:
result['Order ID'] = a
result['SKU'] = a1

In [23]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,NaN,8904223818706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001827036,NaN,8904223819093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001827036,NaN,8904223819109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001827036,NaN,8904223818430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001827036,NaN,8904223819277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,NaN,8904223818942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,2001806229,NaN,8904223818850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,2001806226,NaN,8904223818850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,2001806210,NaN,8904223816214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,2001806210,NaN,8904223818874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for i in sku_master['SKU']:
    print(i)

8904223815682
8904223815859
8904223815866
8904223815873
8904223816214
8904223816665
8904223817273
8904223817334
8904223817501
8904223818430
8904223818478
8904223818553
8904223818577
8904223818591
8904223818614
8904223818638
8904223818645
8904223818669
8904223818683
8904223818706
8904223818713
8904223815804
8904223818454
8904223818751
8904223818850
8904223818935
8904223818874
8904223818997
8904223818942
8904223819024
8904223819031
8904223818980
8904223819017
8904223819093
8904223819109
8904223819116
8904223819161
8904223819147
8904223819130
8904223818881
8904223818898
8904223819277
8904223819284
8904223819345
8904223819352
8904223819239
8904223819246
8904223819253
8904223819291
8904223819437
GIFTBOX202001
GIFTBOX202004
GIFTBOX202002
8904223819369
GIFTBOX202003
8904223819123
GIFTBOX202002
8904223819468
8904223819260
8904223819321
8904223819338
8904223819505
8904223819499
8904223819512
8904223819543
SACHETS001

In [25]:
sku1 = sku_master.set_index('SKU').to_dict()['Weight (g)']

In [26]:
sku1

{'8904223815682': 210,
 '8904223815859': 165,
 '8904223815866': 113,
 '8904223815873': 65,
 '8904223816214': 120,
 '8904223816665': 102,
 '8904223817273': 65,
 '8904223817334': 170,
 '8904223817501': 350,
 '8904223818430': 165,
 '8904223818478': 350,
 '8904223818553': 115,
 '8904223818577': 150,
 '8904223818591': 120,
 '8904223818614': 65,
 '8904223818638': 137,
 '8904223818645': 137,
 '8904223818669': 240,
 '8904223818683': 121,
 '8904223818706': 127,
 '8904223818713': 120,
 '8904223815804': 160,
 '8904223818454': 232,
 '8904223818751': 113,
 '8904223818850': 240,
 '8904223818935': 120,
 '8904223818874': 100,
 '8904223818997': 490,
 '8904223818942': 133,
 '8904223819024': 112,
 '8904223819031': 112,
 '8904223818980': 110,
 '8904223819017': 115,
 '8904223819093': 150,
 '8904223819109': 100,
 '8904223819116': 30,
 '8904223819161': 115,
 '8904223819147': 240,
 '8904223819130': 350,
 '8904223818881': 140,
 '8904223818898': 140,
 '8904223819277': 350,
 '8904223819284': 350,
 '8904223819345': 165,
 '8904223819352': 165,
 '8904223819239': 290,
 '8904223819246': 290,
 '8904223819253': 290,
 '8904223819291': 112,
 '8904223819437': 552,
 'GIFTBOX202001': 500,
 'GIFTBOX202004': 500,
 'GIFTBOX202002': 500,
 '8904223819369': 170,
 'GIFTBOX202003': 500,
 '8904223819123': 250,
 '8904223819468': 240,
 '8904223819260': 130,
 '8904223819321': 600,
 '8904223819338': 600,
 '8904223819505': 210,
 '8904223819499': 210,
 '8904223819512': 210,
 '8904223819543': 300,
 'SACHETS001': 10}

In [27]:
weight_as_per_x = [sku1[i] for i in result['SKU']]

In [28]:
weight_as_per_x_kg = []
for i in weight_as_per_x:
    a = i/1000
    weight_as_per_x_kg.append(a)

In [29]:
weight_as_per_x_kg

[0.127,
 0.15,
 0.1,
 0.165,
 0.35,
 0.5,
 0.137,
 0.01,
 0.112,
 0.112,
 0.137,
 0.24,
 0.01,
 0.112,
 0.112,
 0.112,
 0.24,
 0.112,
 0.35,
 0.127,
 0.12,
 0.24,
 0.165,
 0.35,
 0.24,
 0.165,
 0.11,
 0.112,
 0.112,
 0.065,
 0.112,
 0.6,
 0.6,
 0.133,
 0.121,
 0.29,
 0.29,
 0.29,
 0.24,
 0.24,
 0.24,
 0.165,
 0.35,
 0.065,
 0.133,
 0.127,
 0.01,
 0.24,
 0.12,
 0.121,
 0.35,
 0.35,
 0.12,
 0.1,
 0.21,
 0.14,
 0.112,
 0.112,
 0.112,
 0.115,
 0.127,
 0.133,
 0.24,
 0.12,
 0.1,
 0.12,
 0.102,
 0.35,
 0.12,
 0.1,
 0.127,
 0.12,
 0.1,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.35,
 0.35,
 0.35,
 0.35,
 0.5,
 0.112,
 0.112,
 0.112,
 0.11,
 0.112,
 0.112,
 0.115,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.12,
 0.24,
 0.121,
 0.127,
 0.24,
 0.21,
 0.112,
 0.127,
 0.24,
 0.24,
 0.165,
 0.113,
 0.065,
 0.165,
 0.165,
 0.3,
 0.24,
 0.24,
 0.12,
 0.21,
 0.21,
 0.21,
 0.24,
 0.165,
 0.1,
 0.12,
 0.1,
 0.14,
 0.112,
 0.112,
 0.112,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.121,
 0.24,
 0.127,
 0.24,
 0.24,
 0.24,
 0.232,
 0.24,
 0.137,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.121,
 0.24,
 0.24,
 0.121,
 0.21,
 0.21,
 0.21,
 0.35,
 0.35,
 0.35,
 0.35,
 0.112,
 0.112,
 0.12,
 0.1,
 0.14,
 0.14,
 0.127,
 0.133,
 0.24,
 0.232,
 0.35,
 0.165,
 0.12,
 0.12,
 0.232,
 0.5,
 0.03,
 0.127,
 0.112,
 0.121,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.6,
 0.065,
 0.113,
 0.165,
 0.21,
 0.12,
 0.1,
 0.127,
 0.133,
 0.24,
 0.065,
 0.113,
 0.165,
 0.17,
 0.5,
 0.17,
 0.127,
 0.133,
 0.24,
 0.24,
 0.127,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.115,
 0.13,
 0.121,
 0.24,
 0.24,
 0.127,
 0.24,
 0.24,
 0.165,
 0.065,
 0.113,
 0.112,
 0.112,
 0.112,
 0.115,
 0.13,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.24,
 0.121,
 0.12,
 0.6,
 0.165,
 0.24,
 0.24,
 0.24,
 0.21,
 0.127,
 0.133,
 0.24,
 0.29,
 0.127,
 0.24,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.24,
 0.35,
 0.24,
 0.12,
 0.112,
 0.112,
 0.112,
 0.112,
 0.112,
 0.112,
 0.127,
 0.133,
 0.24,
 0.49,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.29,
 0.29,
 0.29,
 0.12,
 0.065,
 0.113,
 0.112,
 0.112,
 0.112,
 0.115,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.21,
 0.21,
 0.127,
 0.133,
 0.24,
 0.127,
 0.24,
 0.121,
 0.127,
 0.137,
 0.21,
 0.21,
 0.127,
 0.133,
 0.24,
 0.112,
 0.165,
 0.24,
 0.21,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.121,
 0.12,
 0.12,
 0.112,
 0.25,
 0.127,
 0.133,
 0.24,
 0.12,
 0.12,
 0.112,
 0.29,
 0.16,
 0.15,
 0.127,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.121,
 0.35,
 0.35,
 0.127,
 0.133,
 0.24,
 0.552,
 0.165,
 0.112,
 0.1,
 0.127,
 0.133,
 0.24,
 0.127,
 0.133,
 0.24,
 0.115,
 0.127,
 0.133,
 0.24,
 0.115,
 0.13,
 0.115,
 0.13,
 0.137,
 0.24,
 0.127,
 0.133,
 0.24,
 0.24,
 0.12,
 0.1]

In [30]:
b = pd.Series(weight_as_per_x_kg)

In [31]:
result['Total weight as per X (KG)'] = b

In [32]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,NaN,8904223818706,0.127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001827036,NaN,8904223819093,0.150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001827036,NaN,8904223819109,0.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001827036,NaN,8904223818430,0.165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001827036,NaN,8904223819277,0.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,NaN,8904223818942,0.133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,2001806229,NaN,8904223818850,0.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,2001806226,NaN,8904223818850,0.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,2001806210,NaN,8904223816214,0.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,2001806210,NaN,8904223818874,0.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
def round_to_nearest_half(df):
    rounded_numbers = []
    for num in df:
        if num <= 0.5:
            rounded_numbers.append(0.5)
        elif 0.5 < num <= 1:
            rounded_numbers.append(1)
        elif 1 < num <= 1.5:
            rounded_numbers.append(1.5)
        elif 1.5 < num <= 2.0:
            rounded_numbers.append(2)
        elif 2.0 < num <= 2.5:
            rounded_numbers.append(2.5)
        elif 2.5 < num <= 3:
            rounded_numbers.append(3)
        elif 3 < num <= 3.5:
            rounded_numbers.append(3.5)
        elif 3.5 < num <= 4:
            rounded_numbers.append(4)
        elif 4 < num <= 4.5:
            rounded_numbers.append(4.5)
    return rounded_numbers


output_list = round_to_nearest_half(result['Total weight as per X (KG)'])
print(output_list)

[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]

In [34]:
c = pd.Series(output_list)

In [35]:
result['Weight slab as per X (KG)'] = c

In [36]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,NaN,8904223818706,0.127,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001827036,NaN,8904223819093,0.150,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001827036,NaN,8904223819109,0.100,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001827036,NaN,8904223818430,0.165,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001827036,NaN,8904223819277,0.350,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,NaN,8904223818942,0.133,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,2001806229,NaN,8904223818850,0.240,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,2001806226,NaN,8904223818850,0.240,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,2001806210,NaN,8904223816214,0.120,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,2001806210,NaN,8904223818874,0.100,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
invoice1 = invoice.set_index('Order ID').to_dict()['Charged Weight']

In [38]:
invoice1

{2001806232: 1.3,
 2001806273: 1.0,
 2001806408: 2.5,
 2001806458: 1.0,
 2001807012: 0.15,
 2001806686: 0.15,
 2001806885: 1.0,
 2001807058: 1.15,
 2001807186: 0.5,
 2001807290: 0.5,
 2001807814: 0.79,
 2001807931: 0.72,
 2001807956: 1.08,
 2001807960: 1.0,
 2001807930: 0.15,
 2001808102: 1.28,
 2001808118: 0.5,
 2001808207: 0.79,
 2001808295: 0.2,
 2001808507: 0.79,
 2001808542: 0.86,
 2001808675: 1.2,
 2001807976: 0.7,
 2001812838: 0.6,
 2001816684: 0.99,
 2001817160: 0.7,
 2001818390: 0.8,
 2001821190: 1.2,
 2001817093: 1.3,
 2001823564: 0.7,
 2001825261: 1.6,
 2001811192: 1.13,
 2001809917: 0.6,
 2001806210: 2.92,
 2001806226: 0.68,
 2001806229: 0.71,
 2001806233: 0.78,
 2001806251: 1.27,
 2001806338: 0.7,
 2001806446: 0.69,
 2001806533: 0.68,
 2001806547: 1.0,
 2001806567: 1.16,
 2001806575: 0.68,
 2001806616: 1.08,
 2001806652: 0.69,
 2001806733: 1.13,
 2001806735: 0.69,
 2001806726: 0.68,
 2001806776: 2.86,
 2001806801: 1.35,
 2001807004: 0.68,
 2001807036: 1.64,
 2001807084: 0.67,
 2001807362: 2.0,
 2001807415: 1.0,
 2001809592: 1.5,
 2001809794: 1.5,
 2001809820: 3.0,
 2001806471: 1.7,
 2001807241: 0.79,
 2001807981: 0.5,
 2001808286: 0.77,
 2001808801: 0.8,
 2001810104: 0.76,
 2001811153: 0.76,
 2001811229: 0.6,
 2001811363: 0.59,
 2001811466: 0.8,
 2001811809: 0.5,
 2001812854: 2.94,
 2001813009: 1.0,
 2001812650: 0.61,
 2001814580: 0.15,
 2001815688: 0.2,
 2001816131: 0.7,
 2001816996: 0.5,
 2001821185: 2.1,
 2001821284: 0.2,
 2001821679: 0.2,
 2001821742: 0.15,
 2001821750: 0.8,
 2001821766: 0.2,
 2001821995: 0.5,
 2001821502: 0.6,
 2001822466: 1.1,
 2001820690: 0.15,
 2001811604: 0.8,
 2001819252: 0.3,
 2001827036: 1.6,
 2001806304: 0.71,
 2001806768: 1.02,
 2001806823: 0.59,
 2001806828: 0.69,
 2001806968: 0.68,
 2001807328: 2.28,
 2001807785: 0.68,
 2001807852: 0.74,
 2001807970: 4.13,
 2001807329: 0.73,
 2001807613: 1.04,
 2001808475: 0.7,
 2001808585: 0.72,
 2001808679: 0.72,
 2001808739: 1.63,
 2001808832: 2.47,
 2001808837: 0.67,
 2001808883: 0.72,
 2001808992: 0.72,
 2001809270: 0.68,
 2001809934: 0.82,
 2001810125: 0.66,
 2001810281: 0.68,
 2001810549: 1.86,
 2001810697: 2.27,
 2001811039: 0.68,
 2001811058: 0.72,
 2001811306: 1.1,
 2001812195: 0.67,
 2001812941: 0.73,
 2001809383: 0.5,
 2001820978: 0.5,
 2001811475: 0.5,
 2001811305: 0.5}

In [39]:
weight_as_per_cou = [invoice1[i] for i in result['Order ID']]

In [40]:
weight_as_per_cou

[1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 1.6,
 0.7,
 0.7,
 0.7,
 1.1,
 1.1,
 0.5,
 0.5,
 0.2,
 0.8,
 0.8,
 0.8,
 0.15,
 0.2,
 0.6,
 0.6,
 0.6,
 0.2,
 0.2,
 1.2,
 1.2,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 2.1,
 0.5,
 0.5,
 0.15,
 0.3,
 0.3,
 0.3,
 0.8,
 0.8,
 0.8,
 0.7,
 0.7,
 1.3,
 1.3,
 1.3,
 1.3,
 1.3,
 1.3,
 1.3,
 1.3,
 0.5,
 0.5,
 0.5,
 0.99,
 0.99,
 0.99,
 0.7,
 0.7,
 0.2,
 0.2,
 0.15,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.73,
 0.73,
 0.73,
 2.94,
 2.94,
 2.94,
 2.94,
 2.94,
 2.94,
 2.94,
 2.94,
 0.6,
 0.6,
 0.61,
 0.61,
 0.67,
 0.67,
 0.67,
 0.5,
 0.5,
 0.5,
 0.8,
 0.8,
 0.8,
 0.5,
 0.5,
 0.5,
 0.5,
 0.8,
 0.8,
 0.8,
 0.59,
 0.59,
 0.59,
 0.59,
 1.1,
 1.1,
 1.1,
 1.1,
 0.5,
 0.5,
 0.5,
 0.5,
 0.6,
 0.6,
 0.6,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 0.76,
 0.76,
 0.76,
 0.72,
 0.72,
 0.72,
 0.68,
 0.68,
 0.68,
 2.27,
 2.27,
 2.27,
 1.86,
 1.86,
 1.86,
 1.86,
 0.68,
 0.68,
 0.68,
 0.66,
 0.66,
 0.66,
 0.76,
 0.76,
 0.76,
 0.82,
 0.82,
 0.6,
 0.6,
 0.6,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 0.5,
 0.5,
 0.5,
 0.68,
 0.68,
 0.68,
 0.72,
 0.72,
 0.72,
 0.72,
 0.72,
 0.72,
 0.67,
 0.67,
 0.67,
 2.47,
 0.8,
 0.8,
 0.8,
 0.8,
 1.63,
 1.63,
 0.72,
 0.72,
 0.72,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 1.2,
 0.72,
 0.72,
 0.72,
 0.86,
 0.86,
 0.79,
 0.79,
 0.79,
 0.7,
 0.7,
 0.7,
 0.2,
 0.2,
 0.77,
 0.77,
 0.77,
 0.79,
 0.79,
 0.79,
 0.5,
 0.5,
 0.5,
 1.28,
 1.28,
 1.28,
 1.28,
 1.28,
 1.28,
 0.5,
 0.5,
 0.5,
 0.7,
 0.7,
 0.7,
 0.7,
 4.13,
 4.13,
 1.0,
 1.0,
 1.0,
 1.0,
 1.08,
 1.08,
 1.08,
 1.08,
 0.72,
 0.72,
 0.72,
 0.15,
 0.74,
 0.74,
 0.74,
 0.79,
 0.79,
 0.79,
 0.68,
 0.68,
 0.68,
 1.04,
 1.04,
 1.04,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.73,
 0.73,
 0.73,
 2.28,
 0.5,
 0.5,
 0.5,
 0.79,
 0.79,
 0.79,
 0.5,
 0.5,
 0.5,
 0.67,
 0.67,
 0.67,
 1.15,
 1.15,
 1.15,
 1.15,
 1.15,
 1.15,
 1.64,
 1.64,
 1.64,
 1.64,
 0.15,
 0.68,
 0.68,
 0.68,
 0.68,
 0.68,
 0.68,
 1.0,
 1.0,
 0.69,
 0.69,
 0.69,
 0.59,
 1.35,
 1.35,
 2.86,
 2.86,
 2.86,
 1.02,
 0.69,
 0.69,
 0.69,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 0.68,
 0.68,
 0.68,
 0.15,
 0.69,
 0.69,
 0.69,
 1.08,
 1.08,
 1.08,
 1.08,
 1.08,
 1.08,
 0.68,
 0.68,
 0.68,
 1.16,
 1.16,
 1.16,
 1.16,
 1.16,
 1.16,
 1.0,
 0.68,
 0.68,
 0.68,
 1.7,
 1.7,
 1.7,
 1.7,
 1.7,
 1.7,
 1.7,
 1.0,
 1.0,
 0.69,
 0.69,
 0.69,
 2.5,
 2.5,
 2.5,
 2.5,
 0.7,
 0.7,
 0.7,
 0.71,
 0.71,
 0.71,
 1.0,
 1.0,
 1.0,
 1.0,
 1.27,
 1.27,
 0.78,
 0.78,
 1.3,
 1.3,
 0.71,
 0.71,
 0.71,
 0.68,
 2.92,
 2.92]

In [41]:
d = pd.Series(weight_as_per_cou)

In [42]:
result['Total weight as per Courier Company (KG)'] = d

In [43]:
def round_to_nearest_half(df):
    rounded_numbers = []
    for num in df:
        if num <= 0.5:
            rounded_numbers.append(0.5)
        elif 0.5 < num <= 1:
            rounded_numbers.append(1)
        elif 1 < num <= 1.5:
            rounded_numbers.append(1.5)
        elif 1.5 < num <= 2.0:
            rounded_numbers.append(2)
        elif 2.0 < num <= 2.5:
            rounded_numbers.append(2.5)
        elif 2.5 < num <= 3:
            rounded_numbers.append(3)
        elif 3 < num <= 3.5:
            rounded_numbers.append(3.5)
        elif 3.5 < num <= 4:
            rounded_numbers.append(4)
        elif 4 < num <= 4.5:
            rounded_numbers.append(4.5)
    return rounded_numbers


output_list1 = round_to_nearest_half(result['Total weight as per Courier Company (KG)'])
print(output_list1)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1.5, 1.5, 0.5, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 1.5, 1.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2.5, 2.5, 2.5, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2.5, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 0.5, 0.5, 0.5, 1, 1, 1, 1, 4.5, 4.5, 1, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.5, 1.5, 1.5, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 2.5, 0.5, 0.5, 0.5, 1, 1, 1, 0.5, 0.5, 0.5, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2, 2, 2, 2, 0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.5, 1.5, 3, 3, 3, 1.5, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 0.5, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2.5, 2.5, 2.5, 2.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.5, 1.5, 1, 1, 1.5, 1.5, 1, 1, 1, 1, 3, 3]

In [44]:
e = pd.Series(output_list1)

In [45]:
result['Weight slab charged by Courier Company (KG)'] = e

In [46]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,NaN,8904223818706,0.127,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2001827036,NaN,8904223819093,0.150,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2001827036,NaN,8904223819109,0.100,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2001827036,NaN,8904223818430,0.165,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2001827036,NaN,8904223819277,0.350,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,NaN,8904223818942,0.133,0.5,0.71,1.0,NaN,NaN,NaN,NaN,NaN,NaN
396,2001806229,NaN,8904223818850,0.240,0.5,0.71,1.0,NaN,NaN,NaN,NaN,NaN,NaN
397,2001806226,NaN,8904223818850,0.240,0.5,0.68,1.0,NaN,NaN,NaN,NaN,NaN,NaN
398,2001806210,NaN,8904223816214,0.120,0.5,2.92,3.0,NaN,NaN,NaN,NaN,NaN,NaN
399,2001806210,NaN,8904223818874,0.100,0.5,2.92,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
invoice2 = invoice.set_index('Order ID').to_dict()['AWB Code']

In [48]:
awb = [invoice2[i] for i in result['Order ID']]

In [49]:
awb

[1091122418320,
 1091122418320,
 1091122418320,
 1091122418320,
 1091122418320,
 1091122418320,
 1091122418320,
 1091122418320,
 1091121981575,
 1091121981575,
 1091121981575,
 1091121981575,
 1091121981575,
 1091121666133,
 1091121666133,
 1091121666133,
 1091121305541,
 1091121305541,
 1091121183730,
 1091121183730,
 1091121034641,
 1091121034350,
 1091121034350,
 1091121034350,
 1091121034114,
 1091121031745,
 1091121185863,
 1091121185863,
 1091121185863,
 1091120962515,
 1091120962515,
 1091120959015,
 1091120959015,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120959225,
 1091120922803,
 1091120922803,
 1091121306101,
 1091120352712,
 1091120352712,
 1091120352712,
 1091120014461,
 1091120014461,
 1091120014461,
 1091119630264,
 1091119630264,
 1091121485824,
 1091121485824,
 1091121485824,
 1091121485824,
 1091121485824,
 1091121485824,
 1091121485824,
 1091121485824,
 1091119429202,
 1091119429202,
 1091119429202,
 1091119398844,
 1091119398844,
 1091119398844,
 1091119367193,
 1091119367193,
 1091119169701,
 1091119169701,
 1091118925110,
 1091118553701,
 1091118553701,
 1091118553701,
 1091118553701,
 1091118553701,
 1091118551656,
 1091118551656,
 1091118551656,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118548333,
 1091118547832,
 1091118547832,
 1091118591534,
 1091118591534,
 1091118442390,
 1091118442390,
 1091118442390,
 1091118009786,
 1091118009786,
 1091118009786,
 1091118004245,
 1091118004245,
 1091118004245,
 1091121844806,
 1091121844806,
 1091121844806,
 1091121844806,
 1091118001865,
 1091118001865,
 1091118001865,
 1091117958395,
 1091117958395,
 1091117958395,
 1091117958395,
 1091117958163,
 1091117958163,
 1091117958163,
 1091117958163,
 1091121846136,
 1091121846136,
 1091121846136,
 1091121846136,
 1091117957942,
 1091117957942,
 1091117957942,
 1091117957780,
 1091117957780,
 1091117957780,
 1091117957780,
 1091117957780,
 1091117957780,
 1091117957533,
 1091117957533,
 1091117957533,
 1091117905022,
 1091117905022,
 1091117905022,
 1091117904860,
 1091117904860,
 1091117904860,
 1091117807140,
 1091117807140,
 1091117807140,
 1091117806263,
 1091117806263,
 1091117806263,
 1091117806263,
 1091117805390,
 1091117805390,
 1091117805390,
 1091117804314,
 1091117804314,
 1091117804314,
 1091117804200,
 1091117804200,
 1091117804200,
 1091117803511,
 1091117803511,
 1091121482593,
 1091121482593,
 1091121482593,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795623,
 1091117795531,
 1091117795531,
 1091117795531,
 1091117795531,
 1091117795531,
 1091117795531,
 1091117795531,
 1091117616121,
 1091117616121,
 1091117616121,
 1091117616121,
 1091117614452,
 1091117614452,
 1091117614452,
 1091117613962,
 1091117613962,
 1091117613962,
 1091117611501,
 1091117611501,
 1091117611501,
 1091117438074,
 1091117438074,
 1091117438074,
 1091117437890,
 1091117437890,
 1091117437890,
 1091117437864,
 1091117437680,
 1091117437680,
 1091117437680,
 1091117437680,
 1091117437293,
 1091117437293,
 1091117437035,
 1091117437035,
 1091117437035,
 1091117437050,
 1091117437050,
 1091117437050,
 1091117437050,
 1091117437050,
 1091117437050,
 1091117436652,
 1091117436652,
 1091117436652,
 1091117436464,
 1091117436464,
 1091117436383,
 1091117436383,
 1091117436383,
 1091117436346,
 1091117436346,
 1091117436346,
 1091117435661,
 1091117435661,
 1091117435602,
 1091117435602,
 1091117435602,
 1091117435370,
 1091117435370,
 1091117435370,
 1091117435134,
 1091117435134,
 1091117435134,
 1091117435005,
 1091117435005,
 1091117435005,
 1091117435005,
 1091117435005,
 1091117435005,
 1091117327570,
 1091117327570,
 1091117327570,
 1091117327496,
 1091117327496,
 1091117327496,
 1091117327496,
 1091117327474,
 1091117327474,
 1091117327312,
 1091117327312,
 1091117327312,
 1091117327312,
 1091117327275,
 1091117327275,
 1091117327275,
 1091117327275,
 1091117327172,
 1091117327172,
 1091117327172,
 1091117327695,
 1091117326925,
 1091117326925,
 1091117326925,
 1091117326612,
 1091117326612,
 1091117326612,
 1091117326424,
 1091117326424,
 1091117326424,
 1091117333251,
 1091117333251,
 1091117333251,
 1091117325094,
 1091117325094,
 1091117325094,
 1091117324394,
 1091117324394,
 1091117324394,
 1091117324394,
 1091117324394,
 1091117333100,
 1091117333100,
 1091117333100,
 1091117324346,
 1091117324206,
 1091117324206,
 1091117324206,
 1091117324011,
 1091117324011,
 1091117324011,
 1091117323812,
 1091117323812,
 1091117323812,
 1091117323215,
 1091117323215,
 1091117323215,
 1091117323112,
 1091117323112,
 1091117323112,
 1091117323112,
 1091117323112,
 1091117323112,
 1091117323005,
 1091117323005,
 1091117323005,
 1091117323005,
 1091117229345,
 1091117229290,
 1091117229290,
 1091117229290,
 1091117229183,
 1091117229183,
 1091117229183,
 1091117229776,
 1091117229776,
 1091117228192,
 1091117228192,
 1091117228192,
 1091117228133,
 1091117227816,
 1091117227816,
 1091117227573,
 1091117227573,
 1091117227573,
 1091117227116,
 1091117226711,
 1091117226711,
 1091117226711,
 1091117226674,
 1091117226674,
 1091117226674,
 1091117226674,
 1091117226674,
 1091117226910,
 1091117226910,
 1091117226910,
 1091117229555,
 1091117226221,
 1091117226221,
 1091117226221,
 1091117225484,
 1091117225484,
 1091117225484,
 1091117225484,
 1091117225484,
 1091117225484,
 1091117225016,
 1091117225016,
 1091117225016,
 1091117224902,
 1091117224902,
 1091117224902,
 1091117224902,
 1091117224902,
 1091117224902,
 1091117224611,
 1091117224353,
 1091117224353,
 1091117224353,
 1091117223351,
 1091117223351,
 1091117223351,
 1091117223351,
 1091117223351,
 1091117223351,
 1091117223351,
 1091117223244,
 1091117223244,
 1091117223211,
 1091117223211,
 1091117223211,
 1091117222931,
 1091117222931,
 1091117222931,
 1091117222931,
 1091117222570,
 1091117222570,
 1091117222570,
 1091117222360,
 1091117222360,
 1091117222360,
 1091117222194,
 1091117222194,
 1091117222194,
 1091117222194,
 1091117222146,
 1091117222146,
 1091117222135,
 1091117222135,
 1091117222124,
 1091117222124,
 1091117222080,
 1091117222080,
 1091117222080,
 1091117222065,
 1091117221940,
 1091117221940]

In [50]:
e = pd.Series(awb)

In [51]:
result['AWB Number'] = e

In [52]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,NaN,NaN,NaN,NaN,NaN,NaN
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,NaN,NaN,NaN,NaN,NaN,NaN
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,NaN,NaN,NaN,NaN,NaN,NaN
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,NaN,NaN,NaN,NaN,NaN,NaN
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
invoice3 = invoice.set_index('Order ID').to_dict()['Zone']

In [54]:
invoice3

{2001806232: 'd',
 2001806273: 'd',
 2001806408: 'd',
 2001806458: 'b',
 2001807012: 'd',
 2001806686: 'd',
 2001806885: 'b',
 2001807058: 'b',
 2001807186: 'd',
 2001807290: 'd',
 2001807814: 'b',
 2001807931: 'd',
 2001807956: 'b',
 2001807960: 'd',
 2001807930: 'd',
 2001808102: 'd',
 2001808118: 'b',
 2001808207: 'd',
 2001808295: 'e',
 2001808507: 'b',
 2001808542: 'd',
 2001808675: 'b',
 2001807976: 'd',
 2001812838: 'b',
 2001816684: 'd',
 2001817160: 'd',
 2001818390: 'e',
 2001821190: 'd',
 2001817093: 'b',
 2001823564: 'd',
 2001825261: 'd',
 2001811192: 'd',
 2001809917: 'd',
 2001806210: 'b',
 2001806226: 'd',
 2001806229: 'd',
 2001806233: 'b',
 2001806251: 'd',
 2001806338: 'd',
 2001806446: 'd',
 2001806533: 'd',
 2001806547: 'b',
 2001806567: 'd',
 2001806575: 'b',
 2001806616: 'b',
 2001806652: 'd',
 2001806733: 'd',
 2001806735: 'd',
 2001806726: 'd',
 2001806776: 'b',
 2001806801: 'b',
 2001807004: 'd',
 2001807036: 'd',
 2001807084: 'd',
 2001807362: 'd',
 2001807415: 'b',
 2001809592: 'b',
 2001809794: 'd',
 2001809820: 'd',
 2001806471: 'd',
 2001807241: 'd',
 2001807981: 'd',
 2001808286: 'd',
 2001808801: 'd',
 2001810104: 'd',
 2001811153: 'd',
 2001811229: 'd',
 2001811363: 'd',
 2001811466: 'd',
 2001811809: 'd',
 2001812854: 'd',
 2001813009: 'd',
 2001812650: 'd',
 2001814580: 'd',
 2001815688: 'd',
 2001816131: 'd',
 2001816996: 'd',
 2001821185: 'd',
 2001821284: 'd',
 2001821679: 'd',
 2001821742: 'd',
 2001821750: 'd',
 2001821766: 'd',
 2001821995: 'd',
 2001821502: 'd',
 2001822466: 'd',
 2001820690: 'd',
 2001811604: 'b',
 2001819252: 'b',
 2001827036: 'b',
 2001806304: 'd',
 2001806768: 'd',
 2001806823: 'd',
 2001806828: 'd',
 2001806968: 'd',
 2001807328: 'd',
 2001807785: 'd',
 2001807852: 'd',
 2001807970: 'd',
 2001807329: 'd',
 2001807613: 'd',
 2001808475: 'd',
 2001808585: 'b',
 2001808679: 'd',
 2001808739: 'd',
 2001808832: 'd',
 2001808837: 'd',
 2001808883: 'd',
 2001808992: 'd',
 2001809270: 'd',
 2001809934: 'd',
 2001810125: 'd',
 2001810281: 'd',
 2001810549: 'd',
 2001810697: 'd',
 2001811039: 'd',
 2001811058: 'd',
 2001811306: 'd',
 2001812195: 'd',
 2001812941: 'd',
 2001809383: 'd',
 2001820978: 'd',
 2001811475: 'b',
 2001811305: 'd'}

In [55]:
zone1 = [invoice3[i] for i in result['Order ID']]

In [56]:
zone1

['b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'e',
 'e',
 'e',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'e',
 'e',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b',
 'd',
 'd',
 'd',
 'd',
 'd',
 'd',
 'b',
 'b']

In [57]:
f = pd.Series(zone1)

In [58]:
result['Delivery Zone charged by Courier Company'] = f

In [59]:
result['Delivery Zone as per X'] = f

In [60]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,NaN,NaN,NaN,NaN
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,NaN,NaN,NaN,NaN
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,NaN,NaN,NaN,NaN
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,NaN,NaN,NaN,NaN
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,NaN,NaN,NaN,NaN
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,NaN,NaN,NaN,NaN
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,NaN,NaN,NaN,NaN
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,NaN,NaN,NaN,NaN
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,NaN,NaN,NaN,NaN

In [61]:
rates2 = rates1.set_index(0).to_dict()[1]

In [62]:
rates2

{'fwd_a_fixed': '29.5',
 'fwd_a_additional': '23.6',
 'fwd_b_fixed': '33',
 'fwd_b_additional': '28.3',
 'fwd_c_fixed': '40.1',
 'fwd_c_additional': '38.9',
 'fwd_d_fixed': '45.4',
 'fwd_d_additional': '44.8',
 'fwd_e_fixed': '56.6',
 'fwd_e_additional': '55.5',
 'rto_a_fixed': '13.6',
 'rto_a_additional': '23.6',
 'rto_b_fixed': '20.5',
 'rto_b_additional': '28.3',
 'rto_c_fixed': '31.9',
 'rto_c_additional': '38.9',
 'rto_d_fixed': '41.3',
 'rto_d_additional': '44.8',
 'rto_e_fixed': '50.7',
 'rto_e_additional': '55.5'}

In [63]:
rates1

                   0     1
0        fwd_a_fixed  29.5
1   fwd_a_additional  23.6
2        fwd_b_fixed    33
3   fwd_b_additional  28.3
4        fwd_c_fixed  40.1
5   fwd_c_additional  38.9
6        fwd_d_fixed  45.4
7   fwd_d_additional  44.8
8        fwd_e_fixed  56.6
9   fwd_e_additional  55.5
10       rto_a_fixed  13.6
11  rto_a_additional  23.6
12       rto_b_fixed  20.5
13  rto_b_additional  28.3
14       rto_c_fixed  31.9
15  rto_c_additional  38.9
16       rto_d_fixed  41.3
17  rto_d_additional  44.8
18       rto_e_fixed  50.7
19  rto_e_additional  55.5

In [64]:
rates2['fwd_a_fixed']

'29.5'

In [65]:
invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [66]:
invoice4 = invoice.set_index('Order ID').to_dict()['Type of Shipment']

In [67]:
invoice4
type_of_shipment = [invoice4[i] for i in result['Order ID']]
type_of_shipment = pd.Series(type_of_shipment)

In [68]:
result['Type 0f shipemnt'] = type_of_shipment
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,Forward charges,NaN,NaN,NaN
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,Forward charges,NaN,NaN,NaN
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,Forward charges,NaN,NaN,NaN
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,Forward charges,NaN,NaN,NaN
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,Forward charges,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,Forward charges,NaN,NaN,NaN
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,Forward charges,NaN,NaN,NaN
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,Forward charges,NaN,NaN,NaN
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,Forward charges,NaN,NaN,NaN
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,Forward charges,NaN,NaN,NaN

In [69]:
expected_charges = []
for i in result['Delivery Zone as per X']:
    for j in result['Weight slab as per X (KG)']:
        for z in result['Type 0f shipemnt']:
            if len(expected_charges) == 400:
                break 
            elif (i == 'b') & (j < 0.5) & (z == 'Forward charges'):
                expected_charges.append(float(rates2['fwd_b_fixed']))
                break
            elif (i == 'b') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_b_fixed']) + (a-1) * float(rates2['fwd_b_additional']))
                break
            elif (i == 'b') & (j < 0.5) & (z == 'Forward and RTO charges'):
                expected_charges.append(float(rates2['fwd_b_fixed']) + float(rates2['rto_b_fixed']))
                break
            elif (i == 'b') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_b_fixed']) + (a-1) * float(rates2['fwd_b_additional']) + float(rates2['rto_b_fixed']) + (a-1) * float(rates2['rto_b_additional']))
                break
            elif (i == 'a') & (j < 0.5) & (z == 'Forward charges'):
                expected_charges.append(float(rates2['fwd_a_fixed']))
                break
            elif (i == 'a') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_a_fixed']) + (a-1) * float(rates2['fwd_a_additional']))
                break
            elif (i == 'a') & (j < 0.5) & (z == 'Forward and RTO charges'):
                expected_charges.append(float(rates2['fwd_a_fixed']) + float(rates2['rto_a_fixed']))
                break
            elif (i == 'a') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_a_fixed']) + (a-1) * float(rates2['fwd_a_additional']) + float(rates2['rto_a_fixed']) + (a-1) * float(rates2['rto_a_additional']))
                break
            elif (i == 'c') & (j < 0.5) & (z == 'Forward charges'):
                expected_charges.append(float(rates2['fwd_c_fixed']))
                break
            elif (i == 'c') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_c_fixed']) + (a-1) * float(rates2['fwd_c_additional']))
                break
            elif (i == 'c') & (j < 0.5) & (z == 'Forward and RTO charges'):
                expected_charges.append(float(rates2['fwd_c_fixed']) + float(rates2['rto_c_fixed']))
                break
            elif (i == 'c') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_c_fixed']) + (a-1) * float(rates2['fwd_c_additional']) + float(rates2['rto_c_fixed']) + (a-1) * float(rates2['rto_c_additional']))
                break
            elif (i == 'd') & (j < 0.5) & (z == 'Forward charges'):
                expected_charges.append(float(rates2['fwd_d_fixed']))
                break
            elif (i == 'd') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_d_fixed']) + (a-1) * float(rates2['fwd_d_additional']))
                break
            elif (i == 'd') & (j < 0.5) & (z == 'Forward and RTO charges'):
                expected_charges.append(float(rates2['fwd_d_fixed']) + float(rates2['rto_d_fixed']))
                break
            elif (i == 'd') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_d_fixed']) + (a-1) * float(rates2['fwd_d_additional']) + float(rates2['rto_d_fixed']) + (a-1) * float(rates2['rto_d_additional']))
                break
            elif (i == 'e') & (j < 0.5) & (z == 'Forward charges'):
                expected_charges.append(float(rates2['fwd_e_fixed']))
                break
            elif (i == 'e') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_e_fixed']) + (a-1) * float(rates2['fwd_e_additional']))
                break
            elif (i == 'e') & (j < 0.5) & (z == 'Forward and RTO charges'):
                expected_charges.append(float(rates2['fwd_e_fixed']) + float(rates2['rto_e_fixed']))
                break
            elif (i == 'e') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                expected_charges.append(float(rates2['fwd_e_fixed']) + (a-1) * float(rates2['fwd_e_additional']) + float(rates2['rto_e_fixed']) + (a-1) * float(rates2['rto_e_additional']))
                break

In [70]:
len(expected_charges)

400

In [71]:
expected_charges = pd.Series(expected_charges)

In [72]:
expected_charges

0      61.3
1      61.3
2      61.3
3      61.3
4      61.3
       ...
395    90.2
396    90.2
397    90.2
398    90.2
399    90.2
Length: 400, dtype: float64

In [73]:
expected_charges.value_counts()

90.2     290
61.3      95
112.1     15
Name: count, dtype: int64

In [74]:
result['Expected Charge as per X (Rs.)'] = expected_charges

In [75]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,Forward charges,61.3,NaN,NaN
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,Forward charges,61.3,NaN,NaN
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,Forward charges,61.3,NaN,NaN
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,Forward charges,61.3,NaN,NaN
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,Forward charges,61.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,Forward charges,90.2,NaN,NaN
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,Forward charges,90.2,NaN,NaN
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,Forward charges,90.2,NaN,NaN
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,Forward charges,90.2,NaN,NaN
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,Forward charges,90.2,NaN,NaN

In [76]:
courier_charges = []
for i in result['Delivery Zone charged by Courier Company']:
    for j in result['Weight slab charged by Courier Company (KG)']:
        for z in result['Type 0f shipemnt']:
            if len(courier_charges) == 400:
                break
            elif (i == 'b') & (j < 0.5) & (z == 'Forward charges'):
                courier_charges.append(float(rates2['fwd_b_fixed']))
                break
            elif (i == 'b') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_b_fixed']) + (a-1) * float(rates2['fwd_b_additional']))
                break
            elif (i == 'b') & (j < 0.5) & (z == 'Forward and RTO charges'):
                courier_charges.append(float(rates2['fwd_b_fixed']) + float(rates2['rto_b_fixed']))
                break
            elif (i == 'b') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_b_fixed']) + (a-1) * float(rates2['fwd_b_additional']) + float(rates2['rto_b_fixed']) + (a-1) * float(rates2['rto_b_additional']))
                break
            elif (i == 'a') & (j < 0.5) & (z == 'Forward charges'):
                courier_charges.append(float(rates2['fwd_a_fixed']))
                break
            elif (i == 'a') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_a_fixed']) + (a-1) * float(rates2['fwd_a_additional']))
                break
            elif (i == 'a') & (j < 0.5) & (z == 'Forward and RTO charges'):
                courier_charges.append(float(rates2['fwd_a_fixed']) + float(rates2['rto_a_fixed']))
                break
            elif (i == 'a') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_a_fixed']) + (a-1) * float(rates2['fwd_a_additional']) + float(rates2['rto_a_fixed']) + (a-1) * float(rates2['rto_a_additional']))
                break
            elif (i == 'c') & (j < 0.5) & (z == 'Forward charges'):
                courier_charges.append(float(rates2['fwd_c_fixed']))
                break
            elif (i == 'c') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_c_fixed']) + (a-1) * float(rates2['fwd_c_additional']))
                break
            elif (i == 'c') & (j < 0.5) & (z == 'Forward and RTO charges'):
                courier_charges.append(float(rates2['fwd_c_fixed']) + float(rates2['rto_c_fixed']))
                break
            elif (i == 'c') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_c_fixed']) + (a-1) * float(rates2['fwd_c_additional']) + float(rates2['rto_c_fixed']) + (a-1) * float(rates2['rto_c_additional']))
                break
            elif (i == 'd') & (j < 0.5) & (z == 'Forward charges'):
                courier_charges.append(float(rates2['fwd_d_fixed']))
                break
            elif (i == 'd') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_d_fixed']) + (a-1) * float(rates2['fwd_d_additional']))
                break
            elif (i == 'd') & (j < 0.5) & (z == 'Forward and RTO charges'):
                courier_charges.append(float(rates2['fwd_d_fixed']) + float(rates2['rto_d_fixed']))
                break
            elif (i == 'd') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_d_fixed']) + (a-1) * float(rates2['fwd_d_additional']) + float(rates2['rto_d_fixed']) + (a-1) * float(rates2['rto_d_additional']))
                break
            elif (i == 'e') & (j < 0.5) & (z == 'Forward charges'):
                courier_charges.append(float(rates2['fwd_e_fixed']))
                break
            elif (i == 'e') & (j > 0.5) & (z == 'Forward charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_e_fixed']) + (a-1) * float(rates2['fwd_e_additional']))
                break
            elif (i == 'e') & (j < 0.5) & (z == 'Forward and RTO charges'):
                courier_charges.append(
                    float(rates2['fwd_e_fixed']) + float(rates2['rto_e_fixed']))
                break
            elif (i == 'e') & (j > 0.5) & (z == 'Forward and RTO charges'):
                a = j/0.5
                courier_charges.append(float(rates2['fwd_e_fixed']) + (a-1) * float(rates2['fwd_e_additional']) + float(rates2['rto_e_fixed']) + (a-1) * float(rates2['rto_e_additional']))
                break

In [77]:
courier_charges

[117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 146.2,
 146.2,
 146.2,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 174.5,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 146.2,
 61.3,
 61.3,
 61.3,
 61.3,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 259.4,
 259.4,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 146.2,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 174.5,
 174.5,
 174.5,
 89.6,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 146.2,
 146.2,
 146.2,
 146.2,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 61.3,
 61.3,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 174.5,
 174.5,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 117.9,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 146.2,
 61.3,
 61.3,
 61.3,
 61.3,
 61.3,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 89.6,
 61.3,
 61.3,
 61.3]

In [78]:
len(courier_charges)

400

In [79]:
courier_charges = pd.Series(courier_charges)

In [80]:
result['Charges Billed by Courier Company (Rs.) '] = courier_charges

In [81]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,NaN
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,NaN
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,NaN
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,NaN
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,NaN
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,NaN
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,Forward charges,90.2,61.3,NaN
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,NaN
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,NaN

In [82]:
e_charge = result['Expected Charge as per X (Rs.)'].values

In [83]:
c_charge = result['Charges Billed by Courier Company (Rs.) ']

In [84]:
v = np.subtract(e_charge,c_charge)

In [85]:
v = pd.Series(v)

In [86]:
result['Difference Between Expected Charges and Billed Charges (Rs.)'] = v

In [87]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,0.6
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,0.6
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,Forward charges,90.2,61.3,28.9
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,28.9
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,28.9

In [88]:
diff = result['Difference Between Expected Charges and Billed Charges (Rs.)'].values

In [89]:
np.where(diff < 0)

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         16,  17,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  39,
         60,  61,  62,  63,  64,  65,  66,  67, 107, 108, 109, 110, 111,
        112, 113, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
        139, 140, 141, 165, 170, 171, 208, 209, 230, 231, 232, 236, 237,
        238, 239, 240, 244, 257, 258, 259, 260, 273, 274, 275, 276, 277,
        278, 282, 283, 284, 285, 286, 293, 294, 295, 296, 297, 298, 312,
        313, 314, 315, 316, 317, 318, 324, 325, 326, 327, 348, 349, 350,
        351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 376,
        377, 378, 379, 380, 381, 382, 383], dtype=int64),)

In [90]:
indices1 = np.where(diff < 0)
over_charge = np.take(diff, indices1)

In [91]:
over_charge

array([[ -56.6,  -56.6,  -56.6,  -56.6,  -56.6,  -56.6,  -56.6,  -56.6,
         -56.6,  -56.6,  -56.6,  -56.6,  -56.6,  -28.3,  -28.3,  -28.3,
         -28.3,  -84.9,  -84.9,  -84.9,  -84.9,  -84.9,  -84.9,  -84.9,
         -84.9,  -28.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,
         -84.3,  -84.3,  -56. ,  -56. ,  -56. ,  -27.7,  -27.7,  -27.7,
         -27.7,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,
         -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -84.3,  -56. ,
         -27.7,  -27.7, -169.2, -169.2,  -28.3,  -28.3,  -28.3,   -5.8,
          -5.8,   -5.8,   -5.8,   -5.8,  -34.1,  -27.7,  -27.7,  -27.7,
         -56.6,  -28.3,  -28.3, -113.2, -113.2, -113.2,  -28.3,  -28.3,
         -28.3,  -28.3,  -28.3,  -28.3,  -28.3,  -28.3,  -28.3,  -28.3,
         -28.3,  -28.3,  -27.7,  -27.7,  -27.7,  -27.7,  -27.7,  -27.7,
         -27.7,  -56. ,  -56. ,  -56. ,  -56. ,  -84.3,  -84.3,  -27.7,
         -27.7,  -27.7,  -27.7,  -27.7,  -27.7,  -27.7,  -27.7,  -27.7,
         -27.7,  -27.7,  -27.7,  -27.7,  -56. ,  -56. ,  -56. ,  -56. ,
         -56. ,  -56. ,  -56. ,  -56. ]])

In [92]:
total_overcharge = np.sum(over_charge)

In [93]:
len(np.where(diff < 0)[0])

124

In [94]:
np.where(diff == 0)

(array([ 13,  14,  15,  18,  19,  20,  21,  22,  23,  34,  35,  36,  37,
         38, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 233, 234,
        261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 279,
        280, 281, 287, 288, 289, 290, 291, 292, 299], dtype=int64),)

In [95]:
len(np.where(diff == 0)[0])

48

In [96]:
indices2 = np.where(diff == 0)
correct_charge = np.take(diff, indices2)

In [97]:
total_correctcharge = np.sum(correct_charge)

In [98]:
np.where(diff > 0)

(array([ 40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  68,  69,  70,  71,  72,  73,
         74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
         87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99,
        100, 101, 102, 103, 104, 105, 106, 114, 115, 116, 117, 118, 119,
        120, 121, 122, 123, 124, 125, 126, 127, 142, 143, 144, 145, 146,
        147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
        160, 161, 162, 163, 164, 166, 167, 168, 169, 172, 173, 174, 175,
        176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
        189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201,
        202, 203, 204, 205, 206, 207, 210, 211, 212, 213, 214, 215, 216,
        217, 218, 219, 235, 241, 242, 243, 245, 246, 247, 248, 249, 250,
        251, 252, 253, 254, 255, 256, 300, 301, 302, 303, 304, 305, 306,
        307, 308, 309, 310, 311, 319, 320, 321, 322, 323, 328, 329, 330,
        331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343,
        344, 345, 346, 347, 363, 364, 365, 366, 367, 368, 369, 370, 371,
        372, 373, 374, 375, 384, 385, 386, 387, 388, 389, 390, 391, 392,
        393, 394, 395, 396, 397, 398, 399], dtype=int64),)

In [99]:
len(np.where(diff > 0)[0])

228

In [100]:
indices3 = np.where(diff > 0)
under_charge = np.take(diff, indices3)

In [101]:
total_undercharge = np.sum(under_charge)

In [108]:
summary = pd.read_csv("D:\DA_Test\summary_old.csv")

In [109]:
summary

,Unnamed: 0,Reason,Count,Amount(Rs)
0,0,Total orders where X has been correctly charged,NaN,NaN
1,1,Total Orders where X has been overcharged,NaN,NaN
2,2,Total Orders where X has been undercharged,NaN,NaN

In [110]:
summary['Count'][0] = len(np.where(diff == 0)[0])
summary['Count'][1] = len(np.where(diff < 0)[0])
summary['Count'][2] = len(np.where(diff > 0)[0])

In [111]:
summary

,Unnamed: 0,Reason,Count,Amount(Rs)
0,0,Total orders where X has been correctly charged,48.0,NaN
1,1,Total Orders where X has been overcharged,124.0,NaN
2,2,Total Orders where X has been undercharged,228.0,NaN

In [112]:
summary['Amount(Rs)'][0] =  total_correctcharge
summary['Amount(Rs)'][1] = total_overcharge
summary['Amount(Rs)'][2] = total_undercharge

In [113]:
summary

,Unnamed: 0,Reason,Count,Amount(Rs)
0,0,Total orders where X has been correctly charged,48.0,0.0
1,1,Total Orders where X has been overcharged,124.0,-6557.8
2,2,Total Orders where X has been undercharged,228.0,4748.7

In [114]:
result

,Order ID,AWB Number,SKU,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Type 0f shipemnt,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,8904223818706,0.127,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
1,2001827036,1091122418320,8904223819093,0.150,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
2,2001827036,1091122418320,8904223819109,0.100,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
3,2001827036,1091122418320,8904223818430,0.165,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
4,2001827036,1091122418320,8904223819277,0.350,0.5,1.60,2.0,b,b,Forward charges,61.3,117.9,-56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001806229,1091117222080,8904223818942,0.133,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,0.6
396,2001806229,1091117222080,8904223818850,0.240,0.5,0.71,1.0,d,d,Forward charges,90.2,89.6,0.6
397,2001806226,1091117222065,8904223818850,0.240,0.5,0.68,1.0,d,d,Forward charges,90.2,61.3,28.9
398,2001806210,1091117221940,8904223816214,0.120,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,28.9
399,2001806210,1091117221940,8904223818874,0.100,0.5,2.92,3.0,b,b,Forward charges,90.2,61.3,28.9

In [118]:
summary.to_excel('summary.xlsx')

In [117]:
import openpyxl

In [116]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     -----------------                      112.6/250.0 kB 3.3 MB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 2.2 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [119]:
result.to_excel('Expected_results.xlsx')