In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.simplefilter('ignore')

In [2]:
data = pd.read_csv('D:/Datasets/Assignment_Revenue&Exchanges (3).csv', encoding_errors= 'replace', low_memory= False)

In [3]:
data.head(20)

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,"2,799",Delivered,Nandurbar,425412,7.0,Opal Grey,WJ,"3,999",1.0,1.0,"1,200",Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10.0,Grey,EF,699,1.0,1.0,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,"2,999",Shipped & Returned,Jhansi,284128,12.0,White,CC,"2,999",1.0,1.0,-,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,"2,999",Cancelled,Jhansi,284128,12.0,White,CC,"2,999",1.0,0.0,-,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5.0,Black,EF,699,1.0,1.0,140,Andhra Pradesh
5,31-08-2021,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7.0,Blue,EF,699,1.0,1.0,-,Odisha
6,30-08-2021,NM-SL-GR-7,COD,699,Cancelled,NABARANGAPUR,764071,7.0,Grey,EF,699,1.0,0.0,-,Odisha
7,06-12-2021,NM-SD-BL-8,COD,-,Packed,COOCH BEHAR,736135,8.0,Black,ES,-,1.0,0.0,-,West Bengal
8,29-11-2021,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9.0,Black,ES,"1,099",1.0,1.0,220,West Bengal
9,14-10-2021,NM-SL-CB-7,COD,559,Cancelled,MAU,275101,7.0,Blue,EF,699,1.0,0.0,140,Uttar Pradesh
10,14-10-2021,NM-SL-CB-7,COD,699,Cancelled,MAU,275101,7.0,Blue,EF,699,1.0,0.0,-,Uttar Pradesh
11,24-11-2021,NM-SL-CB-12,COD,699,Delivered,MUMBAI,400072,12.0,Blue,EF,699,1.0,1.0,-,Maharashtra
12,05-10-2021,NM-SD-GR-8,COD,-,Delivered,hyderabad,500075,8.0,Grey,ES,-,1.0,1.0,-,Telangana
13,29-09-2021,NM-SD-GR-10,COD,"1,099",Shipped & Returned,hyderabad,500075,10.0,Grey,ES,"1,099",1.0,1.0,-,Telangana
14,01-10-2021,NM-KJB-NB-8,COD,"2,309",Shipped & Returned,SEHORE,466001,8.0,Dawn Blue,RK Sn,"3,299",1.0,1.0,990,Madhya Pradesh
15,07-10-2021,NM-KJB-RD-10,Prepaid,"2,193",Delivered,CHENNAI,600006,10.0,Red,RK Sn,"3,299",1.0,1.0,"1,105",Tamil Nadu
16,07-04-2021,NM-CC-IC-10,Prepaid,"2,399",Delivered,Chennai,600006,10.0,White,CC,"2,999",1.0,1.0,600,Tamil Nadu
17,07-04-2021,NM-CC-IC-10,Prepaid,"2,999",Cancelled,Chennai,600006,10.0,White,CC,"2,999",1.0,0.0,-,Tamil Nadu
18,13-06-2021,NM-SL-BL-5,COD,699,Delivered,Velpoor,503311,5.0,Black,EF,699,1.0,1.0,-,Telangana
19,15-06-2021,NM-SL-RD-9,COD,699,Delivered,Rewa,486001,9.0,Red,EF,699,1.0,1.0,-,Madhya Pradesh

In [4]:
data['Order Type'].value_counts()

Order Type
COD        163017
Prepaid    103179
Name: count, dtype: int64

In [5]:
data['Order Amount'].value_counts().head(50)

Order Amount
 699       48545
 559       28572
 -         14816
 1,099     12609
 3,299      9777
 2,639      8868
 879        7754
 531        6366
 1,299      6330
 524        5468
 2,999      4917
 2,399      4809
 489        4472
 2,507      4335
 1,398      4322
 1,118      4226
 835        4097
 3,074      3996
 2,474      3684
 2,309      3107
 664        3044
 1,039      2714
 464        2028
 2,193      1983
 769        1967
 2,099      1921
 2,350      1884
 498        1829
 2,249      1807
 824        1601
 3,999      1569
 783        1542
 1,044      1351
 730        1317
 2,880      1257
 1,048      1206
 3,499      1144
 2,279      1102
 2          1086
 1,062      1070
 3,134      1033
 3,749       982
 4,999       972
 978         829
 3,600       760
 974         697
 1,438       636
 1,677       610
 1,994       570
 5,278       556
Name: count, dtype: int64

In [6]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount     object
Status           object
City             object
Ship PinCode     object
Size            float64
Color            object
Product Type     object
Unit Price       object
Order Qty       float64
Shipped Qty     float64
Discount         object
Ship State       object
dtype: object

In [7]:
data['Order Amount'] = data['Order Amount'].replace(' -   ', '0')

In [8]:
data['Order Amount'].value_counts().head(10)

Order Amount
 699       48545
 559       28572
0          14816
 1,099     12609
 3,299      9777
 2,639      8868
 879        7754
 531        6366
 1,299      6330
 524        5468
Name: count, dtype: int64

In [9]:
def convert_string(str):
    num = str.replace(',' , '')
    return int(num)

In [10]:
convert_string(data['Order Amount'][0])

2799

In [11]:
Order_Amount = [convert_string(i) for i in data['Order Amount']]

In [12]:
data['Order Amount'] = pd.Series(Order_Amount)

In [13]:
data

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7.0,Opal Grey,WJ,"3,999",1.0,1.0,"1,200",Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10.0,Grey,EF,699,1.0,1.0,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128,12.0,White,CC,"2,999",1.0,1.0,-,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128,12.0,White,CC,"2,999",1.0,0.0,-,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5.0,Black,EF,699,1.0,1.0,140,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266191,27-06-2021,NM-CC-IC-6,Prepaid,2249,Shipped & Returned,Porbandar,360575,6.0,White,CC,"2,999",1.0,1.0,750,Gujarat
266192,05-05-2021,NM-SL-BL-7,Prepaid,559,Delivered,Chennai,600043,7.0,Black,EF,699,1.0,1.0,140,Tamil Nadu
266193,20-09-2021,NM-CC-MB-12,COD,2999,Shipped & Returned,Kanpur,208005,12.0,Blue,CC,"2,999",1.0,1.0,-,Uttar Pradesh
266194,01-11-2021,NM-SD-IV-8,COD,1099,Shipped & Returned,Seoni,480661,8.0,White,ES,"1,099",1.0,1.0,-,Madhya Pradesh
266195,11-05-2021,NM-KLG-GR-5,COD,2309,Delivered,Faridabad,121002,5.0,Grey,RK Sl,"3,299",1.0,1.0,990,Haryana

In [14]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount      int64
Status           object
City             object
Ship PinCode     object
Size            float64
Color            object
Product Type     object
Unit Price       object
Order Qty       float64
Shipped Qty     float64
Discount         object
Ship State       object
dtype: object

In [15]:
data['Ship PinCode'][0]

'425412'

In [16]:
data['Ship PinCode'].value_counts().head(80)

Ship PinCode
201301    1883
122001    1490
400053    1104
122002    1098
122018    1044
          ...
122017     395
201014     394
141001     394
411057     394
400061     391
Name: count, Length: 80, dtype: int64

In [17]:
data['Ship PinCode'] = pd.to_numeric(data['Ship PinCode'], errors= 'coerce')

In [18]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount      int64
Status           object
City             object
Ship PinCode    float64
Size            float64
Color            object
Product Type     object
Unit Price       object
Order Qty       float64
Shipped Qty     float64
Discount         object
Ship State       object
dtype: object

In [19]:
data['Unit Price'] = data['Unit Price'].replace(' -   ', '0')

In [20]:
unit_price = [convert_string(i) for i in data['Unit Price']]

In [21]:
data['Unit Price'] = pd.Series(unit_price)

In [22]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount      int64
Status           object
City             object
Ship PinCode    float64
Size            float64
Color            object
Product Type     object
Unit Price        int64
Order Qty       float64
Shipped Qty     float64
Discount         object
Ship State       object
dtype: object

In [23]:
data['Discount'] = data['Discount'].replace(' -   ', '0')

In [24]:
Discount = [int(i.replace(',','')) for i in data['Discount']]

In [25]:
data['Discount'] = pd.Series(Discount)

In [26]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount      int64
Status           object
City             object
Ship PinCode    float64
Size            float64
Color            object
Product Type     object
Unit Price        int64
Order Qty       float64
Shipped Qty     float64
Discount          int64
Ship State       object
dtype: object

In [27]:
data.head(15)

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412.0,7.0,Opal Grey,WJ,3999,1.0,1.0,1200,Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018.0,10.0,Grey,EF,699,1.0,1.0,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128.0,12.0,White,CC,2999,1.0,1.0,0,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128.0,12.0,White,CC,2999,1.0,0.0,0,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121.0,5.0,Black,EF,699,1.0,1.0,140,Andhra Pradesh
5,31-08-2021,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071.0,7.0,Blue,EF,699,1.0,1.0,0,Odisha
6,30-08-2021,NM-SL-GR-7,COD,699,Cancelled,NABARANGAPUR,764071.0,7.0,Grey,EF,699,1.0,0.0,0,Odisha
7,06-12-2021,NM-SD-BL-8,COD,0,Packed,COOCH BEHAR,736135.0,8.0,Black,ES,0,1.0,0.0,0,West Bengal
8,29-11-2021,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135.0,9.0,Black,ES,1099,1.0,1.0,220,West Bengal
9,14-10-2021,NM-SL-CB-7,COD,559,Cancelled,MAU,275101.0,7.0,Blue,EF,699,1.0,0.0,140,Uttar Pradesh
10,14-10-2021,NM-SL-CB-7,COD,699,Cancelled,MAU,275101.0,7.0,Blue,EF,699,1.0,0.0,0,Uttar Pradesh
11,24-11-2021,NM-SL-CB-12,COD,699,Delivered,MUMBAI,400072.0,12.0,Blue,EF,699,1.0,1.0,0,Maharashtra
12,05-10-2021,NM-SD-GR-8,COD,0,Delivered,hyderabad,500075.0,8.0,Grey,ES,0,1.0,1.0,0,Telangana
13,29-09-2021,NM-SD-GR-10,COD,1099,Shipped & Returned,hyderabad,500075.0,10.0,Grey,ES,1099,1.0,1.0,0,Telangana
14,01-10-2021,NM-KJB-NB-8,COD,2309,Shipped & Returned,SEHORE,466001.0,8.0,Dawn Blue,RK Sn,3299,1.0,1.0,990,Madhya Pradesh

In [28]:
pd.to_numeric(data['Ship PinCode'],downcast= 'signed')

0         425412.0
1         110018.0
2         284128.0
3         284128.0
4         524121.0
            ...
266191    360575.0
266192    600043.0
266193    208005.0
266194    480661.0
266195    121002.0
Name: Ship PinCode, Length: 266196, dtype: float64

In [29]:
data['Color'].value_counts()

Color
Grey             74118
Black            64288
White            35255
Blue             34885
Red              21626
Purple            7088
Brown             5428
Dawn Blue         4209
Grey Mist         2771
Coal Black        2102
Olive Green       1232
Grey Melange      1094
Sand Brown         865
Maroon             756
Choco Brown        549
Violet             241
Pink               231
Yellow             202
Natural Black      132
Opal Grey          126
Sapphire Blue      120
Aqua Blue           74
Orange              58
Name: count, dtype: int64

In [80]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [30]:
data.groupby('Size')['Color'].value_counts().tail(len(data)).sort_index(ascending= False)

Size  Color
12.0  Yellow          4
      White         885
      Sand Brown     20
      Red           507
      Purple        131
                   ...
3.0   Grey            9
      Coal Black     10
      Blue            1
      Black           3
      Aqua Blue       8
Name: count, Length: 205, dtype: int64

In [31]:
def convert_integer(float):
    num = int(float)
    return num

In [32]:
data['Ship PinCode'] = data['Ship PinCode'].replace(np.nan, 0)

In [33]:
data['Ship PinCode'] = data['Ship PinCode'].apply(convert_integer)

In [34]:
data.dtypes

OrderDate        object
SKU              object
Order Type       object
Order Amount      int64
Status           object
City             object
Ship PinCode      int64
Size            float64
Color            object
Product Type     object
Unit Price        int64
Order Qty       float64
Shipped Qty     float64
Discount          int64
Ship State       object
dtype: object

In [35]:
data['Size'] = data['Size'].replace(np.nan, 0)

In [36]:
data['Size'] = data['Size'].apply(convert_integer)

In [37]:
data['Order Qty'] = data['Order Qty'].replace(np.nan, 0)
data['Shipped Qty'] = data['Shipped Qty'].replace(np.nan, 0)
data['Order Qty'] = data['Order Qty'].apply(convert_integer)
data['Shipped Qty'] = data['Shipped Qty'].apply(convert_integer)

In [38]:
data.head(15)

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128,12,White,CC,2999,1,1,0,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128,12,White,CC,2999,1,0,0,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5,Black,EF,699,1,1,140,Andhra Pradesh
5,31-08-2021,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha
6,30-08-2021,NM-SL-GR-7,COD,699,Cancelled,NABARANGAPUR,764071,7,Grey,EF,699,1,0,0,Odisha
7,06-12-2021,NM-SD-BL-8,COD,0,Packed,COOCH BEHAR,736135,8,Black,ES,0,1,0,0,West Bengal
8,29-11-2021,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal
9,14-10-2021,NM-SL-CB-7,COD,559,Cancelled,MAU,275101,7,Blue,EF,699,1,0,140,Uttar Pradesh
10,14-10-2021,NM-SL-CB-7,COD,699,Cancelled,MAU,275101,7,Blue,EF,699,1,0,0,Uttar Pradesh
11,24-11-2021,NM-SL-CB-12,COD,699,Delivered,MUMBAI,400072,12,Blue,EF,699,1,1,0,Maharashtra
12,05-10-2021,NM-SD-GR-8,COD,0,Delivered,hyderabad,500075,8,Grey,ES,0,1,1,0,Telangana
13,29-09-2021,NM-SD-GR-10,COD,1099,Shipped & Returned,hyderabad,500075,10,Grey,ES,1099,1,1,0,Telangana
14,01-10-2021,NM-KJB-NB-8,COD,2309,Shipped & Returned,SEHORE,466001,8,Dawn Blue,RK Sn,3299,1,1,990,Madhya Pradesh

In [39]:
data['Ship State'].value_counts().head(10)

Ship State
Maharashtra       45045
Karnataka         29831
Telangana         23951
Uttar Pradesh     20660
Delhi             19773
Gujarat           15529
Andhra Pradesh    15245
Tamil Nadu        14850
Haryana           13221
West Bengal        9506
Name: count, dtype: int64

In [40]:
data['Discount'].describe()

count    266196.000000
mean        387.262972
std        2438.125199
min           0.000000
25%           0.000000
50%         140.000000
75%         368.000000
max      145154.000000
Name: Discount, dtype: float64

In [41]:
discount = data['Discount'].values

In [42]:
max(discount)

145154

In [43]:
np.where(discount == max(discount))

(array([160145, 160146, 160147, 160148, 160149, 160150, 160151, 160152,
        160153, 160154, 160155, 160156, 160157, 160158, 160159, 160160,
        160161, 160162, 160163, 160164, 160165, 160166, 160167, 160168,
        224575, 224576, 224577, 224578, 224579, 224580, 224581, 224582,
        224583, 224584, 224585, 224586, 224587, 224588, 224589, 224590,
        224591, 224592, 224593, 224594, 224595, 224596, 224597, 224598],
       dtype=int64),)

In [44]:
data['Discount'][160154]

145154

In [45]:
data = data.drop(index= [160145, 160146, 160147, 160148, 160149, 160150, 160151, 160152,
        160153, 160154, 160155, 160156, 160157, 160158, 160159, 160160,
        160161, 160162, 160163, 160164, 160165, 160166, 160167, 160168,
        224575, 224576, 224577, 224578, 224579, 224580, 224581, 224582,
        224583, 224584, 224585, 224586, 224587, 224588, 224589, 224590,
        224591, 224592, 224593, 224594, 224595, 224596, 224597, 224598], axis= 0)

In [46]:
data

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128,12,White,CC,2999,1,1,0,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128,12,White,CC,2999,1,0,0,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5,Black,EF,699,1,1,140,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266191,27-06-2021,NM-CC-IC-6,Prepaid,2249,Shipped & Returned,Porbandar,360575,6,White,CC,2999,1,1,750,Gujarat
266192,05-05-2021,NM-SL-BL-7,Prepaid,559,Delivered,Chennai,600043,7,Black,EF,699,1,1,140,Tamil Nadu
266193,20-09-2021,NM-CC-MB-12,COD,2999,Shipped & Returned,Kanpur,208005,12,Blue,CC,2999,1,1,0,Uttar Pradesh
266194,01-11-2021,NM-SD-IV-8,COD,1099,Shipped & Returned,Seoni,480661,8,White,ES,1099,1,1,0,Madhya Pradesh
266195,11-05-2021,NM-KLG-GR-5,COD,2309,Delivered,Faridabad,121002,5,Grey,RK Sl,3299,1,1,990,Haryana

In [47]:
data['City'].value_counts().head(20)

City
Mumbai            13243
Hyderabad          8814
BANGALORE          7933
MUMBAI             7305
Bangalore          6498
New Delhi          6160
Bengaluru          5067
Pune               4572
Delhi              4553
HYDERABAD          4328
Chennai            4270
Kolkata            3378
PUNE               2989
Ahmedabad          2877
Gurgaon            2300
GURGAON            2237
K.V.RANGAREDDY     2212
Noida              1979
THANE              1925
CHENNAI            1862
Name: count, dtype: int64

In [48]:
data['City'] = data['City'].replace('MUMBAI', 'Mumbai')
data['City'] = data['City'].replace('PUNE', 'Pune')

In [49]:
data['City'].value_counts().head(20)

City
Mumbai            20548
Hyderabad          8814
BANGALORE          7933
Pune               7561
Bangalore          6498
New Delhi          6160
Bengaluru          5067
Delhi              4553
HYDERABAD          4328
Chennai            4270
Kolkata            3378
Ahmedabad          2877
Gurgaon            2300
GURGAON            2237
K.V.RANGAREDDY     2212
Noida              1979
THANE              1925
CHENNAI            1862
Gurugram           1764
Jaipur             1713
Name: count, dtype: int64

In [50]:
filter_maharastra = data[data['Ship State'] == 'Maharashtra']

In [51]:
filter_maharastra.describe()

,Order Amount,Ship PinCode,Size,Unit Price,Order Qty,Shipped Qty,Discount
count,44997.000000,44997.000000,44997.000000,44997.000000,44997.000000,44997.000000,44997.000000
mean,1600.453964,408042.168900,7.954152,1553.956775,1.008023,0.911439,507.653088
std,1687.314178,11504.959446,1.964812,1337.924879,0.159458,0.301347,2902.968275
min,0.000000,400001.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,559.000000,400058.000000,7.000000,699.000000,1.000000,1.000000,0.000000
50%,879.000000,400610.000000,8.000000,699.000000,1.000000,1.000000,140.000000
75%,2474.000000,411048.000000,9.000000,2999.000000,1.000000,1.000000,600.000000
max,45675.000000,480000.000000,12.000000,50749.000000,22.000000,7.000000,82473.000000

In [52]:
filter_maharastra['City'].value_counts().head(30)

City
Mumbai              20520
Pune                 7544
THANE                1925
Thane                1081
Nagpur                894
Navi Mumbai           804
Pimpri-Chinchwad      600
NAGPUR                513
Nashik                498
NASHIK                339
Aurangabad            301
RAIGARH(MH)           296
Kolhapur              276
mumbai                274
AURANGABAD            207
Kalyan                182
Ahmednagar            165
AHMED NAGAR           144
KOLHAPUR              141
Bhiwandi              128
Navi mumbai           121
Sangli                113
SATARA                100
Nanded                 98
pune                   98
SOLAPUR                97
Amravati               97
Solapur                95
Ulhasnagar             94
JALGAON                92
Name: count, dtype: int64

In [53]:
filter_maharastra['City'] = filter_maharastra['City'].replace('THANE', 'Thane')
filter_maharastra['City'] = filter_maharastra['City'].replace('NAGPUR', 'Nagpur')
filter_maharastra['City'] = filter_maharastra['City'].replace('NAGPUR', 'Nagpur')
filter_maharastra['City'] = filter_maharastra['City'].replace(['NASHIK','Nasik'], 'Nashik')
filter_maharastra['City'] = filter_maharastra['City'].replace('mumbai', 'Mumbai')
filter_maharastra['City'] = filter_maharastra['City'].replace('pune', 'Pune')

In [54]:
filter_maharastra['City'].value_counts()

City
Mumbai                  20794
Pune                     7642
Thane                    3006
Nagpur                   1407
Nashik                    919
                        ...
Deolali (Cantonment)        1
Bhayander west thane        1
New. Mumbai                 1
Sangali                     1
Shirur, Pune                1
Name: count, Length: 1587, dtype: int64

In [55]:
data['Size'].value_counts()

Size
8     57683
9     50418
7     43437
10    34853
6     27320
11    17679
5     17340
4     10227
12     6997
3       138
0        56
Name: count, dtype: int64

In [56]:
data['Status'].value_counts()

Status
Delivered             178184
Shipped & Returned     49409
Cancelled              28228
Shipped complete        8306
Allocated               1067
Packed                   514
Confirmed                323
Part Allocated            48
Pick complete             35
Partially Shipped         28
Part Picked                6
Name: count, dtype: int64

In [57]:
filtered_delivered = data[data['Status'] == 'Delivered']

In [58]:
filtered_delivered

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi
5,31-08-2021,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha
8,29-11-2021,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal
11,24-11-2021,NM-SL-CB-12,COD,699,Delivered,Mumbai,400072,12,Blue,EF,699,1,1,0,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266188,10-06-2021,NM-KLG-GR-10,Prepaid,2474,Delivered,Noida,201303,10,Grey,RK Sl,3299,1,1,825,Uttar Pradesh
266189,29-04-2021,NM-SD-GR-7,COD,1039,Delivered,Noida,201301,7,Grey,ES,1299,1,1,260,Uttar Pradesh
266190,27-06-2021,NM-SL-GR-7,COD,559,Delivered,Noida,201301,7,Grey,EF,699,1,1,140,Uttar Pradesh
266192,05-05-2021,NM-SL-BL-7,Prepaid,559,Delivered,Chennai,600043,7,Black,EF,699,1,1,140,Tamil Nadu
266195,11-05-2021,NM-KLG-GR-5,COD,2309,Delivered,Faridabad,121002,5,Grey,RK Sl,3299,1,1,990,Haryana

In [59]:
filtered_delivered['Size'].value_counts()

Size
8     37677
9     33187
7     28305
10    23603
6     18616
5     12691
11    12095
4      7140
12     4757
3        76
0        37
Name: count, dtype: int64

In [60]:
filtered_delivered['Ship State'].value_counts()

Ship State
Maharashtra                    32453
Karnataka                      20946
Telangana                      15228
Delhi                          14503
Uttar Pradesh                  13062
Tamil Nadu                     10972
Gujarat                        10747
Haryana                         9229
Andhra Pradesh                  8745
West Bengal                     6650
Rajasthan                       5267
Kerala                          4793
Punjab                          4509
Madhya Pradesh                  4146
Bihar                           2708
Odisha                          2370
Jharkhand                       1806
Assam                           1552
Uttarakhand                     1532
Chhattisgarh                    1408
Goa                             1113
Himachal Pradesh                 901
Chandigarh                       725
Jammu and Kashmir                561
Sikkim                           389
Meghalaya                        313
Nagaland                         269
Arunachal Pradesh                256
Puducherry                       224
Manipur                          224
Mizoram                          220
Tripura                          147
Andaman and Nicobar Islands       86
Dadra and Nagar Haveli            68
Daman and Diu                     46
New Delhi                          3
Utter pradesh                      2
Chennai                            2
Bangalore                          2
Hyderabad                          2
india                              1
Coimbatore TN                      1
Bardoli                            1
TL                                 1
Rupnagar                           1
Name: count, dtype: int64

In [61]:
data.head(10)

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State
0,12-06-2021,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra
1,25-11-2021,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi
2,04-08-2021,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128,12,White,CC,2999,1,1,0,Uttar Pradesh
3,18-07-2021,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128,12,White,CC,2999,1,0,0,Uttar Pradesh
4,30-10-2021,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5,Black,EF,699,1,1,140,Andhra Pradesh
5,31-08-2021,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha
6,30-08-2021,NM-SL-GR-7,COD,699,Cancelled,NABARANGAPUR,764071,7,Grey,EF,699,1,0,0,Odisha
7,06-12-2021,NM-SD-BL-8,COD,0,Packed,COOCH BEHAR,736135,8,Black,ES,0,1,0,0,West Bengal
8,29-11-2021,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal
9,14-10-2021,NM-SL-CB-7,COD,559,Cancelled,MAU,275101,7,Blue,EF,699,1,0,140,Uttar Pradesh

In [62]:
data['OrderDate'] = pd.to_datetime(data['OrderDate'], format='%d-%m-%Y')

In [63]:
data.dtypes

OrderDate       datetime64[ns]
SKU                     object
Order Type              object
Order Amount             int64
Status                  object
City                    object
Ship PinCode             int64
Size                     int64
Color                   object
Product Type            object
Unit Price               int64
Order Qty                int64
Shipped Qty              int64
Discount                 int64
Ship State              object
dtype: object

In [64]:
data['OrderMonth'] = data['OrderDate'].dt.month
data['OrderYear'] = data['OrderDate'].dt.year

In [65]:
data.head(10)

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State,OrderMonth,OrderYear
0,2021-06-12,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra,6,2021
1,2021-11-25,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi,11,2021
2,2021-08-04,NM-CC-IC-12,COD,2999,Shipped & Returned,Jhansi,284128,12,White,CC,2999,1,1,0,Uttar Pradesh,8,2021
3,2021-07-18,NM-CC-IC-12,COD,2999,Cancelled,Jhansi,284128,12,White,CC,2999,1,0,0,Uttar Pradesh,7,2021
4,2021-10-30,NM-SL-BL-5,COD,559,Shipped & Returned,Sullurpet 524121,524121,5,Black,EF,699,1,1,140,Andhra Pradesh,10,2021
5,2021-08-31,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha,8,2021
6,2021-08-30,NM-SL-GR-7,COD,699,Cancelled,NABARANGAPUR,764071,7,Grey,EF,699,1,0,0,Odisha,8,2021
7,2021-12-06,NM-SD-BL-8,COD,0,Packed,COOCH BEHAR,736135,8,Black,ES,0,1,0,0,West Bengal,12,2021
8,2021-11-29,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal,11,2021
9,2021-10-14,NM-SL-CB-7,COD,559,Cancelled,MAU,275101,7,Blue,EF,699,1,0,140,Uttar Pradesh,10,2021

In [66]:
data['OrderMonth'].value_counts()

OrderMonth
10    43311
9     38628
8     37919
11    36007
7     29407
6     29233
5     21279
4     20150
12    10214
Name: count, dtype: int64

In [67]:
filtered_delivered['OrderDate'] = pd.to_datetime(filtered_delivered['OrderDate'], format='%d-%m-%Y')
filtered_delivered['OrderMonth'] = filtered_delivered['OrderDate'].dt.month
filtered_delivered['OrderYear'] = filtered_delivered['OrderDate'].dt.year

In [68]:
filtered_delivered['OrderMonth'].value_counts()

OrderMonth
10    28581
9     26362
8     25183
11    25007
7     20048
6     19949
5     14180
4     13608
12     5266
Name: count, dtype: int64

In [71]:
filtered_delivered

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State,OrderMonth,OrderYear
0,2021-06-12,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra,6,2021
1,2021-11-25,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi,11,2021
5,2021-08-31,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha,8,2021
8,2021-11-29,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal,11,2021
11,2021-11-24,NM-SL-CB-12,COD,699,Delivered,Mumbai,400072,12,Blue,EF,699,1,1,0,Maharashtra,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266188,2021-06-10,NM-KLG-GR-10,Prepaid,2474,Delivered,Noida,201303,10,Grey,RK Sl,3299,1,1,825,Uttar Pradesh,6,2021
266189,2021-04-29,NM-SD-GR-7,COD,1039,Delivered,Noida,201301,7,Grey,ES,1299,1,1,260,Uttar Pradesh,4,2021
266190,2021-06-27,NM-SL-GR-7,COD,559,Delivered,Noida,201301,7,Grey,EF,699,1,1,140,Uttar Pradesh,6,2021
266192,2021-05-05,NM-SL-BL-7,Prepaid,559,Delivered,Chennai,600043,7,Black,EF,699,1,1,140,Tamil Nadu,5,2021
266195,2021-05-11,NM-KLG-GR-5,COD,2309,Delivered,Faridabad,121002,5,Grey,RK Sl,3299,1,1,990,Haryana,5,2021

In [72]:
data.groupby('Status')['Discount'].sum()

Status
Allocated               157503
Cancelled             12211465
Confirmed               134129
Delivered             64975445
Packed                  186899
Part Allocated          144604
Part Picked                  0
Partially Shipped        31362
Pick complete             9940
Shipped & Returned    13955873
Shipped complete       4313242
Name: Discount, dtype: int64

In [73]:
data.groupby('Order Amount')['Discount'].count().sort_values(ascending= False)

Order Amount
699         48545
559         28572
0           14816
1099        12609
3299         9777
            ...
713             1
9786            1
740             1
750             1
69900000        1
Name: Discount, Length: 1235, dtype: int64

In [74]:
data['Order Amount'].value_counts()

Order Amount
699       48545
559       28572
0         14816
1099      12609
3299       9777
          ...
183014        1
30756         1
2749          1
35068         1
2037          1
Name: count, Length: 1235, dtype: int64

In [73]:
data[data['Order Amount'] == 2]

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State,OrderMonth,OrderYear
147,2021-06-08,NM-WJ-M-BKB-9,Prepaid,2,Delivered,Varanasi,221001,9,Coal Black,WJ,4999,1,1,4997.0,Uttar Pradesh,6,2021
466,2021-07-19,NM-WJ-M-IV-8,Prepaid,2,Delivered,Mumbai,400086,8,White,WJ,4999,1,1,6296.0,Maharashtra,7,2021
467,2021-07-19,NM-SD-IV-8,Prepaid,2,Delivered,Mumbai,400086,8,White,ES,1299,1,1,6296.0,Maharashtra,7,2021
468,2021-11-19,NM-SD-IV-7,Prepaid,2,Delivered,Mumbai,400086,7,White,ES,1099,1,1,1097.0,Maharashtra,11,2021
2073,2021-06-03,NM-WJ-M-MB-9,Prepaid,2,Delivered,Mumbai,400058,9,NaN,WJ,4999,1,1,5696.0,Maharashtra,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263737,2021-07-17,NM-KJB-IVBS-4,Prepaid,2,Delivered,Kolkata,700039,4,White,RK Sn,3299,1,1,3297.0,West Bengal,7,2021
263760,2021-06-28,NM-KJB-RD-6,Prepaid,2,Delivered,Hyderabad,500046,6,Red,RK Sn,3299,1,1,3297.0,Andaman and Nicobar Islands,6,2021
264562,2021-07-22,NM-WJ-M-IV-8,Prepaid,2,Delivered,Rajasthan,306401,8,White,WJ,4999,1,1,4997.0,Andaman and Nicobar Islands,7,2021
264997,2021-10-18,NM-WJ-M-GRB-7,Prepaid,2,Delivered,SATARA,415539,7,Grey Mist,WJ,4999,1,1,4997.0,Maharashtra,10,2021
265165,2021-06-28,NM-KJB-GR-9,Prepaid,2,Delivered,VIJAYAWADA,520002,9,Grey,RK Sn,3299,1,1,3297.0,Andhra Pradesh,6,2021

In [75]:
filtered_delivered.groupby('Order Amount')['Discount'].sum().sort_values(ascending= False).head(30)

Order Amount
2         5524042
2639      3464762
559       2847880
2507      2580334
2309      1902780
2474      1657575
2193      1621035
2399      1488900
2350      1287385
1756      1165853
117939    1143108
879       1088780
3499      1005496
1118       947196
2099       868500
531        855288
835        844272
3999       809000
2249       758250
524        720650
489        672210
3749       666250
2880       559440
2279       509760
5278       485760
1039       426580
16995      407880
769        400620
1994       387930
783        383308
Name: Discount, dtype: int64

In [75]:
filtered_delivered[filtered_delivered['Order Amount'] == 2]

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State,OrderMonth,OrderYear
147,2021-06-08,NM-WJ-M-BKB-9,Prepaid,2,Delivered,Varanasi,221001,9,Coal Black,WJ,4999,1,1,4997.0,Uttar Pradesh,6,2021
466,2021-07-19,NM-WJ-M-IV-8,Prepaid,2,Delivered,Mumbai,400086,8,White,WJ,4999,1,1,6296.0,Maharashtra,7,2021
467,2021-07-19,NM-SD-IV-8,Prepaid,2,Delivered,Mumbai,400086,8,White,ES,1299,1,1,6296.0,Maharashtra,7,2021
468,2021-11-19,NM-SD-IV-7,Prepaid,2,Delivered,Mumbai,400086,7,White,ES,1099,1,1,1097.0,Maharashtra,11,2021
2073,2021-06-03,NM-WJ-M-MB-9,Prepaid,2,Delivered,Mumbai,400058,9,NaN,WJ,4999,1,1,5696.0,Maharashtra,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263737,2021-07-17,NM-KJB-IVBS-4,Prepaid,2,Delivered,Kolkata,700039,4,White,RK Sn,3299,1,1,3297.0,West Bengal,7,2021
263760,2021-06-28,NM-KJB-RD-6,Prepaid,2,Delivered,Hyderabad,500046,6,Red,RK Sn,3299,1,1,3297.0,Andaman and Nicobar Islands,6,2021
264562,2021-07-22,NM-WJ-M-IV-8,Prepaid,2,Delivered,Rajasthan,306401,8,White,WJ,4999,1,1,4997.0,Andaman and Nicobar Islands,7,2021
264997,2021-10-18,NM-WJ-M-GRB-7,Prepaid,2,Delivered,SATARA,415539,7,Grey Mist,WJ,4999,1,1,4997.0,Maharashtra,10,2021
265165,2021-06-28,NM-KJB-GR-9,Prepaid,2,Delivered,VIJAYAWADA,520002,9,Grey,RK Sn,3299,1,1,3297.0,Andhra Pradesh,6,2021

In [76]:
filtered_delivered

,OrderDate,SKU,Order Type,Order Amount,Status,City,Ship PinCode,Size,Color,Product Type,Unit Price,Order Qty,Shipped Qty,Discount,Ship State,OrderMonth,OrderYear
0,2021-06-12,NM-WJ-M-GR-07,COD,2799,Delivered,Nandurbar,425412,7,Opal Grey,WJ,3999,1,1,1200,Maharashtra,6,2021
1,2021-11-25,NM-SL-GR-10,COD,559,Delivered,New Delhi,110018,10,Grey,EF,699,1,1,140,Delhi,11,2021
5,2021-08-31,NM-SL-CB-7,COD,699,Delivered,NABARANGAPUR,764071,7,Blue,EF,699,1,1,0,Odisha,8,2021
8,2021-11-29,NM-SD-BL-9,COD,879,Delivered,COOCH BEHAR,736135,9,Black,ES,1099,1,1,220,West Bengal,11,2021
11,2021-11-24,NM-SL-CB-12,COD,699,Delivered,Mumbai,400072,12,Blue,EF,699,1,1,0,Maharashtra,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266188,2021-06-10,NM-KLG-GR-10,Prepaid,2474,Delivered,Noida,201303,10,Grey,RK Sl,3299,1,1,825,Uttar Pradesh,6,2021
266189,2021-04-29,NM-SD-GR-7,COD,1039,Delivered,Noida,201301,7,Grey,ES,1299,1,1,260,Uttar Pradesh,4,2021
266190,2021-06-27,NM-SL-GR-7,COD,559,Delivered,Noida,201301,7,Grey,EF,699,1,1,140,Uttar Pradesh,6,2021
266192,2021-05-05,NM-SL-BL-7,Prepaid,559,Delivered,Chennai,600043,7,Black,EF,699,1,1,140,Tamil Nadu,5,2021
266195,2021-05-11,NM-KLG-GR-5,COD,2309,Delivered,Faridabad,121002,5,Grey,RK Sl,3299,1,1,990,Haryana,5,2021

In [77]:
filtered_delivered = filtered_delivered.drop(filtered_delivered[filtered_delivered['Order Amount'] == 2].index)

In [78]:
filtered_delivered.groupby('Order Amount')['Discount'].sum().sort_values(ascending= False).head(30)

Order Amount
2639      3464762
559       2847880
2507      2580334
2309      1902780
2474      1657575
2193      1621035
2399      1488900
2350      1287385
1756      1165853
117939    1143108
879       1088780
3499      1005496
1118       947196
2099       868500
531        855288
835        844272
3999       809000
2249       758250
524        720650
489        672210
3749       666250
2880       559440
2279       509760
5278       485760
1039       426580
16995      407880
769        400620
1994       387930
783        383308
464        382356
Name: Discount, dtype: int64